body {
  background: url(/img/bg.jpg);
  background-position: center;
}
.container {
  max-width: 300px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  /* width: 300px; */
}
.header {
  margin: 40px auto 0;
  border-radius: 10px 10px 0 0;
  padding: 70px 100px;
  padding-bottom: 40px;
  background: whitesmoke;
}
.foto img {
  display: block;
  width: 100px;
  margin: 0 auto;
}
.header h1 {
  font-size: 36px;
  text-align: center;
  margin: 10px auto;
  color: #3b3a3c;
}
.header h2 {
  text-align: center;
  font-size: 14px;
  width: 260px;
  margin: 0 auto;
}
.links {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  max-width: 500px;
}
.lista-links {
  /* width: 300px; */
  margin: 0 auto;
}
.lista-item {
  margin-bottom: 10px;
  background: #be1c2f;
  padding: 30px;
}
a {
  color: whitesmoke;
  cursor: pointer;
}
li:hover {
  background: #21325f5e;
}
